.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-items-center {
    display: flex;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}